# Evaluación Solemne 1
## "_Pronóstico del Clima en Australia_"

### EDA para Pronóstico del Clima
#### - Parte 1: Análisis exploratorio de datos (EDA)
- 1) Análisis de las características.
- 2) Encontrar cualquier relación o tendencia considerando múltiples características.

#### - Parte 2: Ingeniería de características y limpieza de datos:
- 1) Agregar algunas características.
- 2) Eliminación de funciones redundantes.
- 3) Convertir características en forma adecuada para modelar.

## Acerca de los datos
- Date: Fecha de la observación
- Location: El nombre común de la ubicación de la estación meteorológica.
- MinTemp: La temperatura mínima en grados centígrados.
- MaxTemp: La temperatura máxima en grados centígrados.
- Rainfall: La cantidad de lluvia registrada para el día en mm.
- Evaporation: Evaporación de la bandeja de clase A (mm) en las 24 horas a las 9 a.
- Sunshine: Cantidad de horas de sol brillante en el día.
- WindGustDir: Dirección de la ráfaga de viento más fuerte en 24 horas hasta la medianoche
- WindGustSpeed: Velocidad (km / h) de la ráfaga de viento más fuerte en 24 horas hasta la medianoche
- WindDir9am: Dirección del viento a las 9 am.
- WindDir3pm: Dirección del viento a las 15 pm.
- WindSpeed9am: Velocidad (km / h) del viento a las 9am.
- WindSpeed3pm: Velocidad (km / h) del viento a las 15pm.
- Humidity9am: Humedad (g/m3) del aire a las 9am. (g/m3 = gramos de agua por cada metro cúbico de 
  aire)
- Humidity3pm: Humedad (g/m3) del aire a las 15pm. (g/m3 = gramos de agua por cada metro cúbico de 
  aire)
- Pressure9am: Presión (pascales) del aire a las 9am. 
- Pressure15pm: Presión (pascales) del aire a las 15pm. 
- Cloud9am: Nubosidad (octas) del cielo a las 9am. (octas, a la parte de la bóveda celeste cubierta de nubes, 
  hasta un máximo de 8 para el cielo cubierto o entoldado.)
- Cloud15pm: Nubosidad (octas) del cielo a las 15pm. 
- Temp9am: Temperatura (C) a las 9am. 
- Temp15pm: Temperatura (C) a las 15pm. 
- RainToday: Si llueve más de 1mm en el día de la muestra 
- RainTomorrow: predicción si lloverá más de 1 mm mañana

In [2]:
# Importación de las librerías necesarias
import pandas as pd

## 1. Análisis Exploratorio de Datos

### 1.1 Carga de Datos

In [3]:
data_path = './dataset/weatherAUS.csv'
df = pd.read_csv(data_path,sep=',')

In [4]:
# Primeros 5 registros
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [5]:
# Últimos 5 registros
df.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

In [32]:
# Muestra un registro al azar
df.sample()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
22821,2015-04-13,NorfolkIsland,16.6,23.1,19.8,NaN,8.6,SW,50.0,SSW,...,55.0,1009.7,1008.0,4.0,3.0,21.1,21.8,Yes,1.2,Yes

In [6]:
# Vista general 
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

### 1.2 Tamaño del Dataset

In [7]:
df.shape

(142193, 24)

### 1.3 Tipos de datos

In [8]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

### 1.4 Valores Nulos

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [10]:
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [11]:
for x in df.columns:
    print('La cantidad de nulos de la columna', x, ' Es de ', df[x].isna().sum())

La cantidad de nulos de la columna Date  Es de  0
La cantidad de nulos de la columna Location  Es de  0
La cantidad de nulos de la columna MinTemp  Es de  637
La cantidad de nulos de la columna MaxTemp  Es de  322
La cantidad de nulos de la columna Rainfall  Es de  1406
La cantidad de nulos de la columna Evaporation  Es de  60843
La cantidad de nulos de la columna Sunshine  Es de  67816
La cantidad de nulos de la columna WindGustDir  Es de  9330
La cantidad de nulos de la columna WindGustSpeed  Es de  9270
La cantidad de nulos de la columna WindDir9am  Es de  10013
La cantidad de nulos de la columna WindDir3pm  Es de  3778
La cantidad de nulos de la columna WindSpeed9am  Es de  1348
La cantidad de nulos de la columna WindSpeed3pm  Es de  2630
La cantidad de nulos de la columna Humidity9am  Es de  1774
La cantidad de nulos de la columna Humidity3pm  Es de  3610
La cantidad de nulos de la columna Pressure9am  Es de  14014
La cantidad de nulos de la columna Pressure3pm  Es de  13981
La cantidad de nulos de la columna Cloud9am  Es de  53657
La cantidad de nulos de la columna Cloud3pm  Es de  57094
La cantidad de nulos de la columna Temp9am  Es de  904
La cantidad de nulos de la columna Temp3pm  Es de  2726
La cantidad de nulos de la columna RainToday  Es de  1406
La cantidad de nulos de la columna RISK_MM  Es de  0
La cantidad de nulos de la columna RainTomorrow  Es de  0

### 1.5 Características y Observaciones

In [12]:
for x in df.columns:
 print('El nombre de la característica es :',x)

El nombre de la característica es : Date
El nombre de la característica es : Location
El nombre de la característica es : MinTemp
El nombre de la característica es : MaxTemp
El nombre de la característica es : Rainfall
El nombre de la característica es : Evaporation
El nombre de la característica es : Sunshine
El nombre de la característica es : WindGustDir
El nombre de la característica es : WindGustSpeed
El nombre de la característica es : WindDir9am
El nombre de la característica es : WindDir3pm
El nombre de la característica es : WindSpeed9am
El nombre de la característica es : WindSpeed3pm
El nombre de la característica es : Humidity9am
El nombre de la característica es : Humidity3pm
El nombre de la característica es : Pressure9am
El nombre de la característica es : Pressure3pm
El nombre de la característica es : Cloud9am
El nombre de la característica es : Cloud3pm
El nombre de la característica es : Temp9am
El nombre de la característica es : Temp3pm
El nombre de la característica es : RainToday
El nombre de la característica es : RISK_MM
El nombre de la característica es : RainTomorrow

In [13]:
# ¿Qué columnas tienen los datos?
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [14]:
# Cantidad de características
df.shape[1]

24

In [15]:
# Cantidad de observaciones
df.shape[0]

142193

### 1.6 Medidas Estadísticas Básicas

In [16]:
# Cómo se distribuyen las variables númericas
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [17]:
# Cómo se comportan las variables categóricas
df.describe(include = 'object')

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
count,142193,142193,132863,132180,138415,140787,142193
unique,3436,49,16,16,16,2,2
top,2016-07-22,Canberra,W,N,SE,No,No
freq,49,3418,9780,11393,10663,109332,110316

### 2. Estudio de la variable Objetivo

In [18]:
df.groupby('Location')['RainTomorrow'].count()

Location
Adelaide            3090
Albany              3016
Albury              3011
AliceSprings        3031
BadgerysCreek       2928
Ballarat            3028
Bendigo             3034
Brisbane            3161
Cairns              2988
Canberra            3418
Cobar               2988
CoffsHarbour        2953
Dartmoor            2943
Darwin              3192
GoldCoast           2980
Hobart              3188
Katherine           1559
Launceston          3028
Melbourne           2435
MelbourneAirport    3009
Mildura             3007
Moree               2854
MountGambier        3030
MountGinini         2907
Newcastle           2955
Nhil                1569
NorahHead           2929
NorfolkIsland       2964
Nuriootpa           3002
PearceRAAF          2762
Penrith             2964
Perth               3193
PerthAirport        3009
Portland            2996
Richmond            2951
Sale                3000
SalmonGums          2955
Sydney              3337
SydneyAirport       3005
Townsville          3033
Tuggeranong         2998
Uluru               1521
WaggaWagga          2976
Walpole             2819
Watsonia            2999
Williamtown         2553
Witchcliffe         2952
Wollongong          2983
Woomera             2990
Name: RainTomorrow, dtype: int64

## Análisis de variables categóricas

In [19]:
df['RainTomorrow'].value_counts()

No     110316
Yes     31877
Name: RainTomorrow, dtype: int64

In [20]:
df.groupby(['Location','RainTomorrow'])['RainTomorrow'].count()

Location     RainTomorrow
Adelaide     No              2402
             Yes              688
Albany       No              2114
             Yes              902
Albury       No              2393
                             ...
Witchcliffe  Yes              879
Wollongong   No              2270
             Yes              713
Woomera      No              2788
             Yes              202
Name: RainTomorrow, Length: 98, dtype: int64

In [21]:
df.groupby('RainTomorrow').size()

RainTomorrow
No     110316
Yes     31877
dtype: int64

In [22]:
df['RainTomorrow'].value_counts().to_list()

[110316, 31877]

### Creación de un respaldo del Dataframe

In [35]:
df2 = df

In [36]:
# Establecemos la característica FECHA como indíce del dataframe para contar valores
df2['Date'] = pd.to_datetime(df2.Date)
df2.set_index('Date', inplace = True)

In [40]:
# Creación de nuevo data frame con el promedio de datos de las precipitaciones mensuales
pcp_mensual = df2.resample(rule = 'M').mean()
pcp_mensual

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
Date,,,,,,,,,,,,,,,,,
2007-11-30,11.753333,25.053333,3.180000,5.900000,7.880000,41.266667,9.166667,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,3.933333
2007-12-31,13.312903,25.119355,3.258065,5.819355,8.287097,40.580645,10.032258,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,2.529032
2008-01-31,15.348387,29.125806,1.412903,7.941935,9.119355,43.064516,9.709677,16.322581,65.870968,39.451613,1014.096774,1011.290323,4.225806,4.000000,19.716129,27.348387,1.483871
2008-02-29,15.601724,24.662069,5.568966,5.656140,6.948276,40.896552,11.410714,17.706897,74.258621,55.327586,1013.496552,1011.412069,5.258621,5.155172,18.584483,23.206897,5.265517
2008-03-31,14.116129,25.527419,1.506452,5.677419,8.916129,38.322581,9.213115,17.065574,73.629032,46.983871,1020.327419,1017.867742,2.854839,3.241935,17.791935,24.320968,1.503226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-28,17.156072,29.136513,2.949887,8.457755,8.843539,42.052381,14.473527,19.319099,66.210605,46.885986,1014.266280,1012.020381,4.886981,4.492228,21.661745,27.295491,2.950037
2017-03-31,16.988351,27.871826,4.061348,7.318164,7.636856,40.135557,13.653794,18.227465,72.075768,52.395803,1015.163472,1012.976000,5.101652,4.906110,20.785685,26.205328,4.037297
2017-04-30,12.384086,23.418711,1.940278,5.154251,7.424138,35.515195,12.596114,16.504286,70.561790,51.568773,1021.343425,1018.633690,4.913212,4.902299,17.384167,21.912546,1.921158
2017-05-31,9.513658,20.275367,1.503418,3.347677,6.502828,33.277580,11.190794,15.339583,76.672740,55.936201,1021.742094,1019.274814,4.860051,4.906158,14.114019,18.833925,1.494803
2017-06-30,7.103559,18.230653,1.964418,2.712130,6.256013,31.562389,10.391122,14.532580,79.450042,57.881206,1026.049072,1023.540167,4.865237,5.129594,11.331826,16.951950,1.960568

In [41]:
# Creación de nuevo data frame con el promedio de datos de las precipitaciones anuales
pcp_anual = df2.resample(rule = 'A').mean()
pcp_anual

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
Date,,,,,,,,,,,,,,,,,
2007-12-31,12.545902,25.086885,3.219672,5.859016,8.086885,40.918033,9.606557,16.803279,69.557377,45.786885,1016.772131,1014.050820,4.704918,4.885246,17.267213,23.455738,3.219672
2008-12-31,12.475503,22.915879,2.306505,5.169703,7.804201,41.679444,14.054554,19.448879,65.454791,49.296496,1015.893309,1013.445096,4.289947,4.298936,16.974652,21.369189,2.275690
2009-12-31,12.167909,23.269327,2.158926,5.551509,7.897931,41.418985,14.509092,19.534563,67.237674,50.033864,1016.831518,1014.465954,4.122128,4.205608,16.958746,21.812881,2.179946
2010-12-31,12.123025,22.611470,2.706973,4.814607,7.277549,39.386332,13.901745,18.487297,70.733136,53.859779,1018.183521,1015.863878,4.482679,4.695975,16.687763,21.152750,2.698691
2011-12-31,12.030774,22.556796,2.814083,4.931407,7.327050,39.831382,14.104382,18.420717,70.498128,53.780748,1017.291991,1015.045577,4.436096,4.561909,16.685193,21.116909,2.828177
2012-12-31,11.237123,22.360442,2.405365,5.036327,7.597179,39.839475,13.999466,18.585128,68.773290,51.302414,1017.980248,1015.570167,4.229339,4.387753,16.262967,20.934236,2.417342
2013-12-31,11.900760,23.308772,2.265974,5.483811,7.682689,40.706051,14.291467,18.992151,67.496583,50.232710,1017.131161,1014.677012,4.195881,4.316651,16.936678,21.773797,2.270125
2014-12-31,12.397994,23.782484,1.955841,5.932965,7.808030,40.001839,13.836508,18.491263,67.816127,50.339394,1017.926175,1015.467277,4.377780,4.335755,17.319692,22.250210,1.978747
2015-12-31,12.206697,23.505209,2.135450,5.935036,7.746082,39.572689,13.826754,18.440840,68.161434,50.460726,1019.115687,1016.651863,4.488250,4.508128,17.105424,21.896269,2.149782
2016-12-31,12.486049,23.355486,2.373248,6.139089,7.664191,40.214407,14.146616,18.758252,69.427228,52.245909,1016.721699,1014.288583,4.942450,5.002604,17.184322,21.620729,2.386258
2017-12-31,13.689573,25.014804,2.470952,6.166974,7.678159,37.507631,12.897333,17.198401,71.267767,51.811844,1018.246869,1015.876243,4.988468,4.779170,18.204945,23.380196,2.473352

In [43]:
pcp_mensual[]

C:\Users\jorge\Miniconda3\envs\desafio\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

ValueError: cannot reindex from a duplicate axis