# Prueba Nro 1 Minería de Datos

## Pronóstico del Clima en Australia

### 1. Importación de librerías

In [1]:
# Importamos la librerías necesarias
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

### 2. Carga de datos desde el Dataset

In [2]:
dataset_path = './dataset/weatherAUS.csv'
df = pd.read_csv(dataset_path, sep=',')

### 3. Mostramos el dataset

In [3]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

### 4. Visualizamos la cantidad características y observaciones del dataframe

In [4]:
df.shape

(142193, 24)

### 5. Análisis Estadístico Númerico

In [5]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

### 6. Análisis Estadístico ...

In [6]:
df.describe(include = 'object')

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
count,142193,142193,132863,132180,138415,140787,142193
unique,3436,49,16,16,16,2,2
top,2014-01-30,Canberra,W,N,SE,No,No
freq,49,3418,9780,11393,10663,109332,110316

### 7. Verificamos los tipos de datos del Dataframe

In [7]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

### 8. Verificación de valores nulos

In [8]:
for x in df.columns:
    print("La cantidad de valores nulos en la columna : ", x, "Es de", df[x].isna().sum())

La cantidad de valores nulos en la columna :  Date Es de 0
La cantidad de valores nulos en la columna :  Location Es de 0
La cantidad de valores nulos en la columna :  MinTemp Es de 637
La cantidad de valores nulos en la columna :  MaxTemp Es de 322
La cantidad de valores nulos en la columna :  Rainfall Es de 1406
La cantidad de valores nulos en la columna :  Evaporation Es de 60843
La cantidad de valores nulos en la columna :  Sunshine Es de 67816
La cantidad de valores nulos en la columna :  WindGustDir Es de 9330
La cantidad de valores nulos en la columna :  WindGustSpeed Es de 9270
La cantidad de valores nulos en la columna :  WindDir9am Es de 10013
La cantidad de valores nulos en la columna :  WindDir3pm Es de 3778
La cantidad de valores nulos en la columna :  WindSpeed9am Es de 1348
La cantidad de valores nulos en la columna :  WindSpeed3pm Es de 2630
La cantidad de valores nulos en la columna :  Humidity9am Es de 1774
La cantidad de valores nulos en la columna :  Humidity3pm Es de 3610
La cantidad de valores nulos en la columna :  Pressure9am Es de 14014
La cantidad de valores nulos en la columna :  Pressure3pm Es de 13981
La cantidad de valores nulos en la columna :  Cloud9am Es de 53657
La cantidad de valores nulos en la columna :  Cloud3pm Es de 57094
La cantidad de valores nulos en la columna :  Temp9am Es de 904
La cantidad de valores nulos en la columna :  Temp3pm Es de 2726
La cantidad de valores nulos en la columna :  RainToday Es de 1406
La cantidad de valores nulos en la columna :  RISK_MM Es de 0
La cantidad de valores nulos en la columna :  RainTomorrow Es de 0

In [9]:
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

### 9. Muestra de características

In [10]:
for columnas in df.columns:
    print("Nombre de la característica :", columnas)

Nombre de la característica : Date
Nombre de la característica : Location
Nombre de la característica : MinTemp
Nombre de la característica : MaxTemp
Nombre de la característica : Rainfall
Nombre de la característica : Evaporation
Nombre de la característica : Sunshine
Nombre de la característica : WindGustDir
Nombre de la característica : WindGustSpeed
Nombre de la característica : WindDir9am
Nombre de la característica : WindDir3pm
Nombre de la característica : WindSpeed9am
Nombre de la característica : WindSpeed3pm
Nombre de la característica : Humidity9am
Nombre de la característica : Humidity3pm
Nombre de la característica : Pressure9am
Nombre de la característica : Pressure3pm
Nombre de la característica : Cloud9am
Nombre de la característica : Cloud3pm
Nombre de la característica : Temp9am
Nombre de la característica : Temp3pm
Nombre de la característica : RainToday
Nombre de la característica : RISK_MM
Nombre de la característica : RainTomorrow

### 10. Creamos un respaldo del Dataframe Original

In [11]:
df2 = df

In [12]:
# Eliminamos los nulos del dataframe y mostramos la nueva cantidad de observaciones
df2.dropna().shape[0]

56420

### Evaluamos si es conveniente eliminar los valores nulos
- Se pierden muchos datos del dataset original
-

In [13]:
df2.fillna(-9999, inplace = True)

In [14]:
df2

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,-9999.0,-9999.0,W,44.0,W,...,22.0,1007.7,1007.1,8.0,-9999.0,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,-9999.0,-9999.0,WNW,44.0,NNW,...,25.0,1010.6,1007.8,-9999.0,-9999.0,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,-9999.0,-9999.0,WSW,46.0,W,...,30.0,1007.6,1008.7,-9999.0,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,-9999.0,-9999.0,NE,24.0,SE,...,16.0,1017.6,1012.8,-9999.0,-9999.0,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,-9999.0,-9999.0,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,-9999.0,-9999.0,E,31.0,ESE,...,27.0,1024.7,1021.2,-9999.0,-9999.0,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,-9999.0,-9999.0,E,31.0,SE,...,24.0,1024.6,1020.3,-9999.0,-9999.0,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,-9999.0,-9999.0,NNW,22.0,SE,...,21.0,1023.5,1019.1,-9999.0,-9999.0,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,-9999.0,-9999.0,N,37.0,SE,...,24.0,1021.0,1016.8,-9999.0,-9999.0,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,-9999.0,-9999.0,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

In [15]:
df2.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

### 11. Establecemos la variable Objetivo

- Variable Objetivo **"RainTomorrow"**
- Responde a la pregunta _**¿llovió al día siguiente, sí o no?**_ 
- Esta columna es Sí, si la lluvia de ese día fue de 1 mm o más.

In [93]:
df2[df2.Location == 'Portland'].groupby('Location')['Location'].count()

Location
Portland    2996
Name: Location, dtype: int64

In [94]:
df2.groupby(df2.Location).size().min()

1521

In [92]:
df2.groupby('Location').size().min()

1521

C:\Users\jorge\Miniconda3\envs\desafio\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [38]:
df2['Location'].min()

'Adelaide'

In [41]:
df2.groupby('Location').count()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Location,,,,,,,,,,,,,,,,,,,,,
Adelaide,3090,3090,3090,3090,3090,3090,3090,3090,3090,3090,...,3090,3090,3090,3090,3090,3090,3090,3090,3090,3090
Albany,3016,3016,3016,3016,3016,3016,3016,3016,3016,3016,...,3016,3016,3016,3016,3016,3016,3016,3016,3016,3016
Albury,3011,3011,3011,3011,3011,3011,3011,3011,3011,3011,...,3011,3011,3011,3011,3011,3011,3011,3011,3011,3011
AliceSprings,3031,3031,3031,3031,3031,3031,3031,3031,3031,3031,...,3031,3031,3031,3031,3031,3031,3031,3031,3031,3031
BadgerysCreek,2928,2928,2928,2928,2928,2928,2928,2928,2928,2928,...,2928,2928,2928,2928,2928,2928,2928,2928,2928,2928
Ballarat,3028,3028,3028,3028,3028,3028,3028,3028,3028,3028,...,3028,3028,3028,3028,3028,3028,3028,3028,3028,3028
Bendigo,3034,3034,3034,3034,3034,3034,3034,3034,3034,3034,...,3034,3034,3034,3034,3034,3034,3034,3034,3034,3034
Brisbane,3161,3161,3161,3161,3161,3161,3161,3161,3161,3161,...,3161,3161,3161,3161,3161,3161,3161,3161,3161,3161
Cairns,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988,...,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988
Canberra,3418,3418,3418,3418,3418,3418,3418,3418,3418,3418,...,3418,3418,3418,3418,3418,3418,3418,3418,3418,3418
Cobar,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988,...,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988
CoffsHarbour,2953,2953,2953,2953,2953,2953,2953,2953,2953,2953,...,2953,2953,2953,2953,2953,2953,2953,2953,2953,2953
Dartmoor,2943,2943,2943,2943,2943,2943,2943,2943,2943,2943,...,2943,2943,2943,2943,2943,2943,2943,2943,2943,2943
Darwin,3192,3192,3192,3192,3192,3192,3192,3192,3192,3192,...,3192,3192,3192,3192,3192,3192,3192,3192,3192,3192
GoldCoast,2980,2980,2980,2980,2980,2980,2980,2980,2980,2980,...,2980,2980,2980,2980,2980,2980,2980,2980,2980,2980
Hobart,3188,3188,3188,3188,3188,3188,3188,3188,3188,3188,...,3188,3188,3188,3188,3188,3188,3188,3188,3188,3188
Katherine,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559,...,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559
Launceston,3028,3028,3028,3028,3028,3028,3028,3028,3028,3028,...,3028,3028,3028,3028,3028,3028,3028,3028,3028,3028
Melbourne,2435,2435,2435,2435,2435,2435,2435,2435,2435,2435,...,2435,2435,2435,2435,2435,2435,2435,2435,2435,2435
MelbourneAirport,3009,3009,3009,3009,3009,3009,3009,3009,3009,3009,...,3009,3009,3009,3009,3009,3009,3009,3009,3009,3009
Mildura,3007,3007,3007,3007,3007,3007,3007,3007,3007,3007,...,3007,3007,3007,3007,3007,3007,3007,3007,3007,3007
Moree,2854,2854,2854,2854,2854,2854,2854,2854,2854,2854,...,2854,2854,2854,2854,2854,2854,2854,2854,2854,2854
MountGambier,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,...,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030
MountGinini,2907,2907,2907,2907,2907,2907,2907,2907,2907,2907,...,2907,2907,2907,2907,2907,2907,2907,2907,2907,2907
Newcastle,2955,2955,2955,2955,2955,2955,2955,2955,2955,2955,...,2955,2955,2955,2955,2955,2955,2955,2955,2955,2955
Nhil,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569,...,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569
NorahHead,2929,2929,2929,2929,2929,2929,2929,2929,2929,2929,...,2929,2929,2929,2929,2929,2929,2929,2929,2929,2929
NorfolkIsland,2964,2964,2964,2964,2964,2964,2964,2964,2964,2964,...,2964,2964,2964,2964,2964,2964,2964,2964,2964,2964
Nuriootpa,3002,3002,3002,3002,3002,3002,3002,3002,3002,3002,...,3002,3002,3002,3002,3002,3002,3002,3002,3002,3002
PearceRAAF,2762,2762,2762,2762,2762,2762,2762,2762,2762,2762,...,2762,2762,2762,2762,2762,2762,2762,2762,2762,2762
Penrith,2964,2964,2964,2964,2964,2964,2964,2964,2964,2964,...,2964,2964,2964,2964,2964,2964,2964,2964,2964,2964
Perth,3193,3193,3193,3193,3193,3193,3193,3193,3193,3193,...,3193,3193,3193,3193,3193,3193,3193,3193,3193,3193
PerthAirport,3009,3009,3009,3009,3009,3009,3009,3009,3009,3009,...,3009,3009,3009,3009,3009,3009,3009,3009,3009,3009
Portland,2996,2996,2996,2996,2996,2996,2996,2996,2996,2996,...,2996,2996,2996,2996,2996,2996,2996,2996,2996,2996
Richmond,2951,2951,2951,2951,2951,2951,2951,2951,2951,2951,...,2951,2951,2951,2951,2951,2951,2951,2951,2951,2951
Sale,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,...,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
SalmonGums,2955,2955,2955,2955,2955,2955,2955,2955,2955,2955,...,2955,2955,2955,2955,2955,2955,2955,2955,2955,2955
Sydney,3337,3337,3337,3337,3337,3337,3337,3337,3337,3337,...,3337,3337,3337,3337,3337,3337,3337,3337,3337,3337
SydneyAirport,3005,3005,3005,3005,3005,3005,3005,3005,3005,3005,...,3005,3005,3005,3005,3005,3005,3005,3005,3005,3005
Townsville,3033,3033,3033,3033,3033,3033,3033,3033,3033,3033,...,3033,3033,3033,3033,3033,3033,3033,3033,3033,3033
Tuggeranong,2998,2998,2998,2998,2998,2998,2998,2998,2998,2998,...,2998,2998,2998,2998,2998,2998,2998,2998,2998,2998
Uluru,1521,1521,1521,1521,1521,1521,1521,1521,1521,1521,...,1521,1521,1521,1521,1521,1521,1521,1521,1521,1521
WaggaWagga,2976,2976,2976,2976,2976,2976,2976,2976,2976,2976,...,2976,2976,2976,2976,2976,2976,2976,2976,2976,2976
Walpole,2819,2819,2819,2819,2819,2819,2819,2819,2819,2819,...,2819,2819,2819,2819,2819,2819,2819,2819,2819,2819
Watsonia,2999,2999,2999,2999,2999,2999,2999,2999,2999,2999,...,2999,2999,2999,2999,2999,2999,2999,2999,2999,2999
Williamtown,2553,2553,2553,2553,2553,2553,2553,2553,2553,2553,...,2553,2553,2553,2553,2553,2553,2553,2553,2553,2553
Witchcliffe,2952,2952,2952,2952,2952,2952,2952,2952,2952,2952,...,2952,2952,2952,2952,2952,2952,2952,2952,2952,2952
Wollongong,2983,2983,2983,2983,2983,2983,2983,2983,2983,2983,...,2983,2983,2983,2983,2983,2983,2983,2983,2983,2983
Woomera,2990,2990,2990,2990,2990,2990,2990,2990,2990,2990,...,2990,2990,2990,2990,2990,2990,2990,2990,2990,2990